@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Karibu Scars Motor Garage</h1>
    <p>Welcome to Scars Motor Garage. Currently under construction </p>
</div>
